:root {
    --dark: #262626;
    --light: #bfcfd9;
    --greenOne: #29D967;
    --greenTwo: #26bf5c;
    --greenThree: #279c41;
    --fiap: #ed145b;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark);
}

.bgDark {
    background-color: var(--dark);
}

.textLight a{
    color: var(--light);
}

.textLight a:hover {
    color: var(--greenOne);
}

.pocas {
    letter-spacing: 3px;
    font-size: 23px;
}

.navbar {
    display: flex !important;
    justify-content: end !important;
}

.bgIntro {
    background-color: var(--greenTwo);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 100%;
  
}

.felipeTitle {
    color: white;
    letter-spacing: 10px;
    font-size: 8vmin;
    font-weight: 200; 
}

.robocupTitle {
    font-size: 5vmin;
}

.sectionTitle { 
    color: rgba(255, 255, 255, 0.582);
    margin-top: 50px;
    padding: 20px 50px;
    border-radius: 20px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 20px;
    
    display: flex;
    justify-content: center;
    
}

.felipe {
    letter-spacing: 40px;
}

.navbar {
    color: var(--bs-navbar-toggler-border-color);
}


#filter-green{
        filter: invert(92%) sepia(12%) saturate(308%) hue-rotate(167deg) brightness(87%) contrast(94%);
}

